.header {
  background: var(--main-gradient);
  box-shadow: 0 1px 0 var(--gray-base);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    padding: 14px 10px;
  }

  &__controller {
    display: flex;
    flex-direction: row;

    &__btns {
      display: flex;
      flex-direction: row;
      padding: 13px 9px;
    }

    &__login {
      display: flex;
      flex-direction: row;
      padding: 13px 9px;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 8%;
        width: 1px;
        height: 84%;
        background-color: var(--black-base);
        box-shadow: -1px 0px 0px rgba(255, 255, 255, 0.05);
      }

      .header__controller__block {
        margin-left: 7px;
      }

      & > div:last-child {
        margin-left: 7px;
      }
    }

    &__block {
      min-width: 44px;
      height: 44px;
      background: var(--black-base);
      border-radius: 3px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: var(--white);
      font-weight: 500;
      font-size: var(--font-size-sm);
      line-height: 14px;
      margin-left: 7px;
    }

    &__acc {
      color: var(--white);
      font-weight: 500;
      font-size: var(--font-size-sm);
      line-height: 14px;
      margin-right: 7px;

      &__elem {
        padding: 0 10px;

        &:not(:last-child) {
          position: relative;

          &::after {
            content: "";
            position: absolute;
            top: -5px;
            right: 0;
            width: 0;
            height: 176%;
            border-right: 1px solid var(--light-gray);
            z-index: 1;
          }
        }
      }
    }
  }
}
