:root {
  //colors
  --green-gradient: linear-gradient(180deg, #54b052 0%, #287226 100%);
  --blue-gradient: linear-gradient(180deg, #0082f0 0%, #0057a2 100%);
  --red-gradient: linear-gradient(180deg, #c50f2d 0%, #571114 100%);
  --white-gradient: linear-gradient(180deg, #f1f1f1 0%, #9e9e9e 100%);
  --ongoing-gradient: linear-gradient(180deg, #f90 0%, #a06000 100%);
  --main-gradient: linear-gradient(180deg, #232323 0%, #151515 100%);
  --header-menu-gradient: linear-gradient(
    180deg,
    #323232 0%,
    rgba(34, 34, 34, 0.37) 100%
  );

  --blue-click-gradient: linear-gradient(180deg, #0057a1 0%, #0082f0 100%);
  --green-click-gradient: linear-gradient(180deg, #1d631b 0%, #458f43 100%);
  --red-click-gradient: linear-gradient(180deg, #571114 0%, #c50f2d 100%);
  --ongoing-click-gradient: linear-gradient(180deg, #a06000 0%, #f90 100%);

  --green-base: #22b14c;
  --black-base: #151515;
  --gray-base: #2d2d2d;
  --row-1: #272727;
  --row-2: #1f1f1f;
  --betslip-bet: #1b1b1b;
  --white: #fff;
  --light-gray: #292929;

  --black-rgb: rgba(0, 0, 0, 0.3);
  --light-gray-rgb: rgba(255, 255, 255, 0.57);

  //sizes
  --font-size-sm: 12px;
  --font-size-md: 14px;
  --font-size-lg: 16px;
}
